<div>
	<h1 style="text-align:center;">How It Works</h1>
	<img src="/images/moneygirl.jpg" style="width:27%; padding-bottom:50px; padding-left:100px;" />
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/OCR-A_char_Plus_Sign.svg/339px-OCR-A_char_Plus_Sign.svg.png" style="padding-bottom:50px; width:10%;"/>
	<img src="/images/greedy.jpg" style="width:22%; padding-bottom:60px;"/>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/OCR-A_char_Equals_Sign.svg/2000px-OCR-A_char_Equals_Sign.svg.png" style="padding-bottom:50px; width:10%" />
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/A_no_money_handshake.svg/2000px-A_no_money_handshake.svg.png" style="width:18%; padding-bottom: 30px; padding-top:30px;" />
</div>