<html>
<body>

<span><a style="float: right;" href="/logout" class="btn btn-default btn-sm">Logout</a></span>

   <div>
       <h1>Welcome</h1>
   </div>

   <div class="row">
       <div class="col s4">
           <h3>User Info:</h3>
           <p>{{user.data.email}}<p>
           <p>{{user.data._id}}</p>
       </div>
       <div class="col s8">
           <h3>My Debts:</h3>
           <p ng-repeat="debt in debts">{{debt.newdescription}}</p>
           <div class="btn btn-default btn-sm"><a href="/#/newdebt">Create New Debt<a/></div>
           <div class="btn btn-default btn-sm">Resolve This Debt</div>
       </div>
   </div>

</body>
</html>