<html>
<body ng-app="payback" ng-controller="dashboardCtrl">
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

                <!-- <div class="container">
                  <h4>Check it out!</h4>
                  <div ng-repeat="user in users" class="row">
                    <div class="col-sm-2">User Info:</div>
                    <div class="col-sm-2">{{user_id}}</div>
                  </div>
                </div> -->

                <h4>User Info:</h4>
            
                <div class="col-sm-2">{{user.data[0].email}}
                </div>

                <br>
    </div>
</div>
</body>
</html>