	<div>
		
		<div class="content">
			<div class="container">
				<div class="main">
					<h1>Track Your Debt</h1>
					
					<hr>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet vel sem eget interdum. Cras id massa sed ex vehicula aliquet tempus vel lorem. Pellentesque pharetra lacinia dui, ac vestibulum metus aliquet vel. Proin dui diam, interdum interdum enim eu, volutpat luctus ante. Nunc id congue justo. Fusce id tempus ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus eu convallis magna. Curabitur consequat lacus quis cursus tristique. Pellentesque convallis porta nulla ac imperdiet. Vestibulum at orci ut est feugiat maximus vel vitae mauris.</p>

					<p>Curabitur lectus mauris, sollicitudin at volutpat eu, pharetra sit amet ligula. Nam vulputate est hendrerit rutrum rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin tempus auctor libero, a sagittis sapien egestas et. Curabitur nulla lacus, cursus eu ornare in, ullamcorper id orci. Morbi vehicula lectus sed tellus hendrerit, at iaculis nisi pretium.</p>


						<!-- <div class="jumbotron">

					        <p><strong>Login or Register with:</strong></p>

					        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
					        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
					        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
					        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
					        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
					    </div> -->
					
					    <a href="/#/newdebt" class="btn btn-default" >
						Start A New Debt
						</a>

					<hr>
				</div>
			</div>
		</div>
	</div>