<script>new WOW().init();</script>
<div>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text" style="text-shadow:2px 2px 2px #000"><strong>Track Your Debt</strong></h1>
        <div class="row center">
          <h5 class="header col s12 light">Either They Pay You Back, or it's Time for Payback</h5>
        </div>
        <div class="row center">
          <a href="/#/about" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">How It Works</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/cash.png" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <div class="wow rollIn">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Get Paid Back Faster</h5>

            <p class="light">Who owes you money? How much? Your cold hard cash is floating around in the hands of others and they need to be reminded.  It's time for PAYBACK!  Schedule recurring debt reminder messages and let them do the work.  Never forget about a debt owed every again.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="wow rollIn">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Track All Debts by Users</h5>

            <p class="light">Enter all of your debts, and track them by user.  Use your user account to follow all debts owed, including amounts and descriptions.  And, create a message board to quickly see all of your debts an recently sent messages in one place for easy reference.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="wow rollIn">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to Work With</h5>

            <p class="light">It's as easy as signing up, creating debts, and sending out messages.  Avoid confrontation and have us send out the reminders.  No more burned bridges or broken relationships resulting from owed debt.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A Non-Invasive, Non-Confrontational Way to Collect Debts Owed</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/cash.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <div class="wow fadeInUp">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>How It Works</h4>
          <p class="left-align light">Collecting debt isn't easy, but it really should be.  No one lends money with the expectation of not getting paid back.  The app is simple:  Create an Account.  Add your debt owed.  Set your messages, and let them do the work.  Track messages sent, use the dashboard view to quickly see the status of any of your debts.  Plus dozens of features to make an ordinarily unconfortable task into an easy collection.  Any questions?</p>
          </div>
        </div>
        <div class="row center">
          <a href="/#/about" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Learn More...</a>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">No More Friendships Lost Over Money. Easy to Use Platform to Help You Get Paid.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/cash.png" alt="Unsplashed background img 3"></div>
  </div>
	</div>

	<script>
$(document).ready(function(){
   $('.modal-trigger').leanModal({
       opacity: .3,
       in_duration: 300, // Transition in duration
         out_duration: 200, // Transition out duration
   });
   $('.button-collapse').sideNav();
   $('.parallax').parallax();
 });
</script>	