	<div>
		
		<div class="content">
			<div class="container">
				<div class="main">
					<h1>Track Your Debt</h1>
					
					<hr>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet vel sem eget interdum. Cras id massa sed ex vehicula aliquet tempus vel lorem. Pellentesque pharetra lacinia dui, ac vestibulum metus aliquet vel. Proin dui diam, interdum interdum enim eu, volutpat luctus ante. Nunc id congue justo. Fusce id tempus ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus eu convallis magna. Curabitur consequat lacus quis cursus tristique. Pellentesque convallis porta nulla ac imperdiet. Vestibulum at orci ut est feugiat maximus vel vitae mauris. Vivamus neque purus, sodales nec felis ac, imperdiet dignissim enim. Praesent placerat justo id lacus malesuada, sit amet congue orci pellentesque.</p>

<p>Curabitur lectus mauris, sollicitudin at volutpat eu, pharetra sit amet ligula. Nam vulputate est hendrerit rutrum rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin tempus auctor libero, a sagittis sapien egestas et. Curabitur nulla lacus, cursus eu ornare in, ullamcorper id orci. Morbi vehicula lectus sed tellus hendrerit, at iaculis nisi pretium. In hac habitasse platea dictumst. Fusce vestibulum quis nibh in ultrices. Integer libero diam, ullamcorper at lacus nec, ullamcorper ornare arcu. Nam sit amet est arcu. Cras pretium, purus vitae venenatis condimentum, justo mi ultrices elit, non efficitur tortor turpis vitae est.</p>

<p>Sed dictum ante in risus maximus, in tempor massa consequat. Pellentesque scelerisque, magna porttitor blandit fringilla, nisi sapien interdum massa, non varius tellus arcu ac nisl. Maecenas tempor leo felis, nec ultricies ante pellentesque vitae. Sed pretium eu ipsum ac vehicula. Sed turpis mauris, ornare at euismod ut, eleifend quis risus. Quisque a magna justo. Mauris a tellus id ex dignissim tempus. Maecenas purus turpis, dapibus ut magna vitae, mattis eleifend sapien.</p>

<p>Pellentesque tempor, nulla sed finibus laoreet, nisi lorem faucibus lorem, eu vehicula ligula mi a arcu. Nulla facilisi. Nullam sed congue ligula. Proin vel turpis et eros viverra gravida sit amet non erat. Cras eleifend tempor enim ac lacinia. Praesent lectus nunc, viverra ac ante suscipit, scelerisque efficitur quam. Vestibulum erat justo, posuere ullamcorper ante at, ultrices tempus purus. Cras aliquet enim et mauris molestie sollicitudin sit amet eu libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque quis pulvinar tortor, non blandit nulla. Quisque id mauris varius, aliquam tellus vel, condimentum massa. Vivamus sed dui ut metus congue suscipit vel eleifend risus.</p>

<p>Pellentesque mollis, quam sagittis sollicitudin vehicula, orci felis vulputate dolor, nec elementum ligula arcu in nisi. Donec ac cursus ante. Etiam quis pretium nisi. Ut feugiat facilisis lorem non pellentesque. Morbi finibus est convallis cursus semper. Quisque porta lorem enim, id viverra est fermentum non. Duis non urna at eros venenatis suscipit. Suspendisse sed ligula diam. Morbi ligula quam, rutrum eget odio vitae, cursus euismod urna. Praesent lectus sapien, ornare ut tincidunt volutpat, ullamcorper molestie velit. Ut sed suscipit massa, eu eleifend purus. Duis vitae ex quis risus euismod fringilla ut quis metus. Integer eget fermentum metus.</p>

						<!-- <div class="jumbotron">

					        <p><strong>Login or Register with:</strong></p>

					        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
					        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
					        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
					        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
					        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
					    </div> -->
					
					    <a href="/#/newgoal" class="btn btn-default" >
						Start A New Debt
						</a>

					<hr>
				</div>
			</div>
		</div>
	</div>