<div class="newMessage">
	<form action="/newmessage" method="post">
        <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" name="password">
        </div>
        <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea"></textarea>
          <label for="textarea1">Message</label>
        </div>
      </div>

        <button type="submit" class="btn btn-warning btn-lg">Create Email</button>
    </form>

    <ul id="staggered-test">
      <li class style="transform: translateX(0px); opacity: 1;">
        <h4>List Item</h4>
          <p>Description</p>
      </li>
      <li class style="transform: translateX(0px); opacity: 1;">
        <h4>List Item</h4>
          <p>Description</p>
      </li>
      <li class style="transform: translateX(0px); opacity: 1;">
        <h4>List Item</h4>
          <p>Description</p>
      </li>
    </ul>


      <script>  var options = [
    {selector: '#staggered-test', offset: 50, callback: 'Materialize.toast("This is our ScrollFire Demo!", 1500 )' },
    {selector: '#staggered-test', offset: 205, callback: 'Materialize.toast("Please continue scrolling!", 1500 )' },
    {selector: '#staggered-test', offset: 400, callback: 'Materialize.showStaggeredList("#staggered-test")' },
    {selector: '#image-test', offset: 500, callback: 'Materialize.fadeInImage("#image-test")' }
  ];
  Materialize.scrollFire(options);

 </script>

 