<div class="newMessage">
	<form action="/newmessage" method="post">
        <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" name="password">
        </div>
        <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea"></textarea>
          <label for="textarea1">Message</label>
        </div>
      </div>

        <button type="submit" class="btn btn-warning btn-lg">Create Email</button>
    </form>